<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{rows -> f:count()} == 1 and !{rows.0.date_hour} ">
    <f:then>
        <div class="no-comment">
            {f:translate(key:'no-result')}
        </div>
    </f:then>
    <f:else>
        <f:render section="table" arguments="{_all}"/>
    </f:else>
</f:if>
<f:section name="table">
    <f:if condition="{rows}">
        <div class="table-fit">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <f:for as="header" key="col" each="{headers}" iteration="iterator">
                        <th>{header}</th>
                    </f:for>
                </tr>
                </thead>
                <tbody>
                <f:for as="row" each="{rows}" iteration="iterator">
                    <tr class="t3js-entity{f:if(condition:iterator.isFirst, then:' firstcol', else:'')}">
                        <td>{row.date_hour}</td>
                        <td >
                            <div class="text-hover">
                                {row.comment}
                            </div>
                        </td>
                        <td>
                            {row.reason_short_label}
                        </td>
                        <td>
                            <f:if condition="{row.fixed} == 1">
                                {row.fixed_date}
                            </f:if>
                            <f:else>
                                --
                            </f:else>
                        </td>
                        <td>
                            <f:if condition="{row.fixed} == 1">
                                <f:then>
                                    <f:if condition="{row.realName}">
                                        <f:then>{row.realName}</f:then>
                                        <f:else>{row.email}</f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    --
                                </f:else>
                            </f:if>
                        </td>
                        <td>
                            <f:if condition="{row.fixed} == 1">
                                <f:then>
                                    <span style="color:green" class="font-weight-bold"> {f:translate(key:'fixed')} </span>
                                </f:then>
                                <f:else>
                                    <f:if condition="{isFixButtonEnabled}">
                                        <f:then>
                                            <f:form action="markProblemAsFixed" >
                                                <input type="hidden" name="technicalProblemUid" value="{row.recordUid}">
                                                <f:form.submit value="{f:translate(key:'fix')}" class="btn btn-default"/>
                                            </f:form>
                                        </f:then>
                                        <f:else>
                                            --
                                        </f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </div>
    </f:if>
</f:section>
