<f:form action="{action}" object="{filter}" objectName="filter">
    <div class="row">
        <div class="col-md-2">
            <label>{f:translate(key: 'filter.lang')}</label>
            <f:form.select property="lang"
                           options="{filter.langOptions}"
                           optionLabelField="title"
                           class="form-control"
            />
        </div>
        <div class="col-md-2">
            <label>{f:translate(key: 'filter.depth')}</label>
            <f:form.select property="depth"
                           options="{filter.depthOptions}"
                           optionLabelField="title"
                           class="form-control"/>
        </div>
        <f:if condition="{action} == 'comments'">
            <div class="col-md-2">
                <label>{f:translate(key: 'utility')}</label>
                <f:form.select property="useful"
                               options="{filter.commentsUtility}"
                               optionLabelField="title"
                               class="form-control"
                />
            </div>
        </f:if>
        <div class="col-md-2">
            <label>{f:translate(key: 'filter.dateRange')}</label>
            <f:form.select property="dateRange"
                           options="{filter.dateRangeOptions}"
                           optionLabelField="title"
                           additionalAttributes="{data-global-event='change', data-action-submit: '$form'}"
                           class="form-control"
                           id="selectDateRange"
            />
        </div>
        <div class="col-md-2">
            <f:if condition="{filter.dateRange} == 'userDefined'">
                <div class="datepicker">
                    <label for="startDate">{f:translate(key:'filter.userDefined.from')}</label>
                    <div class="input-group ">
                        <f:form.textfield
                                property="startDate"
                                id="startDate"
                                class="form-control  t3js-datetimepicker t3js-clearable"
                                data="{date-type: 'date'}"
                        />
                        <span class="input-group-btn">
                            <label class="btn btn-default" for="startDate">
                                <span class="fa fa-calendar"></span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="datepicker">
                    <label for="endDate">{f:translate(key:'filter.userDefined.to')}</label>
                    <div class="input-group">
                        <f:form.textfield
                                property="endDate"
                                id="endDate"
                                class="form-control  t3js-datetimepicker t3js-clearable"
                                data="{date-type: 'date'}"
                        />
                        <span class="input-group-btn">
                            <label class="btn btn-default" for="endDate">
                                <span class="fa fa-calendar"></span>
                            </label>
                        </span>
                    </div>
                </div>

            </f:if>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <f:form.checkbox property="includeEmptyPages"
                             value="1"
                             id="emptyPage"
            />
            <label class="form-check-label" for="emptyPage">{f:translate(key: 'filter.includeEmptyPages')}</label>

        </div>
        <div class="col-md-4">
            <f:render section="buttons" arguments="{_all}"/>
        </div>
    </div>
</f:form>

<f:section name="buttons">

    <f:form.submit value="{f:translate(key: 'filter.submit')}" class="btn btn-default"/>
    <a href="{resetButton.href}" class="btn btn-default">{f:translate(key:'filter.reset')}</a>

    <a class="btn btn-default" href="{f:be.uri(route: 'export_comments',  parameters: '{_all}')}">  {csvButton.icon -> f:format.raw()}
        {f:translate(key:'links.exportCsv')} </a>

</f:section>


