{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{validationResults.flattenedErrors -> f:count()} > 0">
    <div>
        <p class="spam-details">
            <f:translate key="spam-message"/>
        </p>
        <ul class="errors">
            <f:for each="{validationResults.flattenedErrors}" as="errors">
                <f:for each="{errors}" as="error">
                    <li><span class="spam-details"><f:translate key="{error}"/></span></li>
                </f:for>
            </f:for>
        </ul>
    </div>
</f:if>