
.form-row {
  border-bottom: 1px solid #ccc; }

.comments-form {
  display: none !important; }

.checkbox-input {
  margin-top: 2rem; }

.form-check-label {
  padding-left: 0.2rem; }

.no-page .no-comment {
  padding: 6px; }

.commentaire span {
  display: block;
  max-width: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 110%;
  transition: max-height 1s; }
  .commentaire span:hover {
    white-space: normal;
    height: 100%; }

.useful-check {
  color: red; }
