{namespace bm=CHF\BackendModule\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Default"/>


<f:section name="headline">
    <h1>
        Commentaires
    </h1>
</f:section>

<f:section name="content">


    <div class="callout callout-info">
        <div class="media">
            <div class="media-left"><span class="fa-stack fa-lg callout-icon"><i class="fa fa-circle fa-stack-2x"></i><i
                    class="fa fa-info fa-stack-1x"></i></span></div>
            <div class="media-body"><h4 class="callout-title">Web&gt;module de commentaires</h4>
                <div class="callout-body">
                    Veuillez cliquer sur le titre de la page dans l'arborescence à gauche pour voir les commentaires sur la page.
                </div>
            </div>
        </div>
    </div>


</f:section>
