{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="col-12 formBasPage" id="formBasPageCommentaire">
    <div class="frame frame-default frame-type-list frame-layout-0">
        <h2>Évaluation de page</h2>
        <div class="tx-powermail">
            <f:if condition="{submitted}">
                <f:then>
                    <span> <f:translate key="formSentSuccessfully" extensionName="qc_comments"/></span>
                </f:then>
                <f:else>
                    <f:variable name="absUrl" value="{v:page.absoluteUrl()}" />
                    <div class="row">
                        <div class="comments-form col-12 col-lg-8 sansBorder ">
                            <f:form action="saveComment" object="{comment}" objectName="comment" >
                                <f:form.hidden  property="urlOrig" value="{absUrl}"/>
                                <f:form.hidden  property="uidOrig" value="{v:page.info(field: 'uid')}"/>
                                <div class="form-inline mt-2">
                                    <legend class="control-label">L’information sur cette page vous a-t-elle été utile?</legend>
                                    <div class="form-group mr-2">
                                        <f:form.radio property="useful" value="1" id="usefulY" checked="false" />
                                        <label for="usefulY" class="p-md-2" style="font-weight : normal;">
                                            <f:translate key="yes" extensionName="qc_comments"/>
                                        </label>
                                    </div>
                                    <div class="form-group ">
                                        <f:form.radio property="useful" value="0" id="usefulN"  checked="false"/>
                                        <label for="usefulN" class="p-md-2" style="font-weight : normal;">
                                            <f:translate key="no" extensionName="qc_comments"/>
                                        </label>
                                    </div>
                                </div>

                                <div id="comment-section" class="form-group d-none" >

                                    <label for="comment-textarea" class="control-label" title="">
                                        Avez-vous un commentaire à nous transmettre ou un problème à signaler ?
                                        <span id="commentpage_complement_label" class="complementLabel">
                                        Évitez d’inscrire des renseignements  personnels. Notez que vous ne recevrez aucune réponse.
                                    </span>
                                    </label>
                                    <f:form.textarea
                                            property="comment"
                                            class="powermail_textarea form-control"
                                            data="{date-type: 'date'}"
                                            id="comment-textarea"
                                    />
                                    <div id="infoMaxCaracteres" class="infoSupplJs" aria-hidden="true">Maximum 500 caractères</div>
                                    <br>
                                    <f:form.submit value="{f:translate(key: 'submit', extensionName:'qc_comments')}" class="powermail_submit btn btn-primary displayBlock" style="height : 3rem;"/>
                                </div>
                            </f:form>

                        </div>
                        <div class="col-12 col-lg-4 flex-wrap flex-lg-wrap-reverse sansBorder d-none" id="questionsLink-section">
                            <div class="powermail_fieldwrap powermail_fieldwrap_type_content powermail_fieldwrap_servicesquebecform form-group col-md-12 displayFlex">
                                <div class=" col-sm-offset-2"><!-- Tous les autres frames -->
                                    <div id="c34335" class=" frame frame-avisInterr frame-type-textmedia frame-layout-0">
                                        <div class="ce-textpic ce-left ce-above">
                                            <div class="ce-bodytext">
                                                <h3>Des questions ou besoin de renseignements?</h3>
                                                <p><a href="/nous-joindre">Communiquez avec Services Québec</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </f:else>
            </f:if>
        </div>

    </div>
    <script>
        [
            document.getElementById('usefulN'),
            document.getElementById('usefulY')
        ].map(function (element) {
            element.addEventListener("change", function () {
                document.getElementById('comment-section').className = 'form-group d-block';
                document.getElementById('questionsLink-section').className = 'col-12 col-lg-4 flex-wrap flex-lg-wrap-reverse sansBorder d-block';
            });
        });

        document.getElementById('comment-textarea').setAttribute("maxLength", "500");
    </script>
</div>

