{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace qcComments=Qc\QcComments\ViewHelpers}

<f:variable name="pageUid" value="{v:page.info(field: 'uid')}"/>
<f:variable name="checkBasPageMode" value="{modeBasPage -> qcComments:CheckBasPageMode(pageUid: pageUid)}"/>
<f:if condition="{checkBasPageMode} || {settings.activeModeBasPage} = 'true'">
    <div class="frame frame-default frame-type-list frame-layout-0">
        <h2>
            <f:translate key="formSectionTitle" extensionName="qc_comments"/>
        </h2>
        <div class="tx-powermail">
            <f:if condition="{submitted}">
                <f:then>
                    <div class="powermail_create" role="alert">
                        <p>
                            <f:translate key="isThePageUseful" extensionName="qc_comments"/>
                        </p>
                    </div>
                </f:then>
                <f:else>
                    <f:variable name="absUrl" value="{v:page.absoluteUrl()}"/>
                    <div class="row">
                        <div class="comments-form col-12 col-lg-8 sansBorder ">
                            <f:form action="saveComment" object="{comment}" objectName="comment" id="commentForm">
                                <f:form.hidden property="urlOrig" value="{absUrl}"/>
                                <f:form.hidden property="uidOrig" value="{v:page.info(field: 'uid')}"/>
                                <div class="form-inline mt-2">
                                    <legend class="control-label">
                                            <f:translate key="haveYouAComment" extensionName="qc_comments"/>
                                    </legend>
                                    <div class="radioOptions">
                                        <f:form.radio property="useful" value="1" id="usefulY" checked="false"/>
                                        <label for="usefulY" class="p-md-2">
                                            <f:translate key="yes" extensionName="qc_comments"/>
                                        </label>
                                    </div>
                                    <div class="radioOptions">
                                        <f:form.radio property="useful" value="0" id="usefulN" checked="false"/>
                                        <label for="usefulN" class="p-md-2">
                                            <f:translate key="no" extensionName="qc_comments"/>
                                        </label>
                                    </div>
                                </div>

                                <div id="comment-section" class="form-group d-none">

                                    <label for="comment-textarea" class="control-label" title="">
                                            <f:translate key="encounterAProblem" extensionName="qc_comments"/>
                                        <span id="commentpage_complement_label" class="complementLabel">
                                                <f:translate key="haveYouACommentDescription" extensionName="qc_comments"/>
                                        </span>
                                    </label>
                                    <f:form.textarea
                                            cols="5"
                                            rows="10"
                                            property="comment"
                                            class="powermail_textarea form-control"
                                            data="{date-type: 'date'}"
                                            id="comment-textarea"
                                    />

                                    <div class="d-none" id="maxLabel" data-tr-label="{f:translate(key: 'max', extensionName:'qc_comments')}"></div>
                                    <div class="d-none" id="charLabel" data-tr-label="{f:translate(key='characters', extensionName='qc_comments')}"></div>
                                    <div class="d-none" id="sitekey" data-tr-label="{recaptchaConfig.sitekey}"></div>
                                    <div class="d-none" id="maxCharacters" data-tr-label="{config.maxCharacters}"></div>

                                    <div id="infoMaxCaracteres" class="infoSupplJs" aria-hidden="true">
                                        <span id="limitLabel">
                                          <f:translate key="max" extensionName="qc_comments"/> {config.maxCharacters} <f:translate key="characters" extensionName="qc_comments"/>
                                        </span>
                                    </div>
                                    <br>
                                    <f:if condition="{recaptchaConfig.enabled} == '1'">
                                        <f:then>
                                            <button
                                                    id="submitButtom"
                                                    data-sitekey="{recaptchaConfig.sitekey}"
                                                    data-callback="onCompleted"
                                                    class="powermail_submit btn btn-primary displayBlock g-recaptcha"
                                            >
                                                {f:translate(key: 'submit', extensionName:'qc_comments')}
                                            </button>
                                        </f:then>
                                        <f:else>
                                            <f:form.submit
                                                    value="{f:translate(key: 'submit', extensionName:'qc_comments')}"
                                                    class="powermail_submit btn btn-primary displayBlock"
                                            />
                                        </f:else>
                                    </f:if>

                                </div>
                            </f:form>
                        </div>

                    </div>
                </f:else>
            </f:if>
        </div>

    </div>
</f:if>

<script src="https://www.google.com/recaptcha/api.js?render={recaptcha.sitekey}"></script>


