{namespace bm=CHF\BackendModule\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Default"/>

<f:section name="headline">
    <h1>
        {f:translate(key: 'menu.stats')}
    </h1>
</f:section>

<f:section name="content">
    <div class="statistic_sections">
        <f:flashMessages/>
        <f:render partial="Filters"
                  arguments="{action: 'statistics', filter: filter, pagesId: pagesId,csvFormat : settings.csvExport.filename.dateFormat, csvButton:csvButton, resetButton:resetButton}"/>

        <f:if condition="{rows -> f:count()} == 0">
            <f:then>
                <div class="no-page">{f:translate(key:'no-result')}</div>
            </f:then>
            <f:else>
                <f:render section="rows" arguments="{_all}"/>
            </f:else>
        </f:if>
    </div>
</f:section>

<f:section name="rows">
    <div class="panel panel-space panel-default recordlist">
        <div class="panel-heading">
            {f:translate(key: 'comments')}
        </div>
        <f:render partial="StatsTable" arguments="{rows:rows, headers:headers, settings:settings}"/>
    </div>
</f:section>
