<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Module" />
<f:section name="Content">
    <f:be.pageRenderer
            includeJavaScriptModules="{
            0: '@typo3/belog/backend-log.js'
        }"
    />

    <h1>
        {f:translate(key: 'menu.stats')}
    </h1>
    <f:if condition="{noPageSelected}">
        <f:then>
            <f:render partial="noPageSelected" />
        </f:then>
        <f:else>
            <div class="statistic_sections">
                <f:flashMessages/>
                <f:render partial="Filters/StatisticsFilters"
                          arguments="{
                              action: 'statistics',
                              filter: filter,
                              currentPageId : currentPageId,
                              pagesId: pagesId,
                              csvSettings : settings.csvExport,
                              csvButton:csvButton, resetButton:resetButton}"
                />
                <br>
                <f:if condition="{rows -> f:count()} == 0">
                    <f:then>
                        <div class="no-page">{f:translate(key:'no-result')}</div>
                    </f:then>
                    <f:else>
                        <f:render section="rows" arguments="{_all}"/>
                    </f:else>
                </f:if>
            </div>
        </f:else>
    </f:if>
</f:section>
<f:section name="rows">
    <f:if condition="{filter.depth} > 0">
        <div class="panel panel-space panel-default recordlist">
            <div class="panel-heading">
                {f:translate(key: 'stats-by-depth', extensionName : 'qc_comments')}
            </div>
            <f:render partial="StatsByDepthTable" arguments="{row:totalSection_row, headers:totalSection_headers, settings:settings}"/>
        </div>
    </f:if>

    <div class="panel panel-space panel-default recordlist">
        <div class="panel-heading">
            {f:translate(key: 'stats-per-page', extensionName : 'qc_comments')}
        </div>
        <f:render partial="Tables/StatsTable" arguments="{rows:rows, headers:headers, settings:settings}"/>
    </div>
</f:section>

</html>

