<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Module" />
<f:section name="Content">
    <f:be.pageRenderer
            includeJavaScriptModules="{
            0: '@typo3/belog/backend-log.js'
        }"
    />
    <h1>
        Les Problèmes techniques
    </h1>
    <f:if condition="{noPageSelected}">
        <f:then>
            <f:render partial="noPageSelected" />
        </f:then>
        <f:else>
            <div class="comments-sections">
                <f:flashMessages/>
                <f:render partial="TechnicalProblemsFilters"
                          arguments="{
                          action: 'technicalProblems',
                          currentPageId : currentPageId,
                          pagesId: pagesId,
                          csvSettings : settings.csvExport,
                          filter: filter,
                          csvButton:csvButton,
                          resetButton:resetButton}"
                />
                <br>
                <f:if condition="{stats -> f:count()} == 0">
                    <f:then>
                        <div class="no-page">{f:translate(key:'no-result')}</div>
                    </f:then>
                    <f:else>
                        <f:render section="stats" arguments="{_all}"/>
                    </f:else>
                </f:if>

            </div>
        </f:else>
    </f:if>
</f:section>
<f:section name="stats">
    <f:for as="stat" each="{stats}" iteration="iterator">
        <div class="panel panel-space panel-default recordlist">
            <div class="panel-heading">
                {stat.page_uid} - {stat.page_title}
            </div>
            <f:render partial="TechnicalProblemsTable" arguments="{rows:'{comments.{stat.page_uid}}', headers:commentHeaders}"/>
        </div>
    </f:for>
</f:section>
</html>



